.DS_Store

# ignore node modules
node_modules

# ignore the build folder
dist

# virtual environments
env/
.env

# db migrations
migrations/

# intellij config
.idea/

# ignore all generated python files
*.pyc


